.Prem {
    display: flex;
    height: 260px;
    width: auto;
    background-color: #FAF8F8;
    align-items: center;
    gap: 150px;
    text-align: center;
    align-items: center;
  }
  
  .Prem h2 {
    color: black;
    text-align: center;
  }
  .Prem1 {
    margin-left: 70px;
    text-align: center;
  }
  .Prem5 {
    margin-right: 0px;
  }
  .Prem h3 {
    color: black;
    text-align: center;
  }
  .Prem a {
    color: black;
    font-weight: 400;
    
  }
 

  

@media (min-width: 1700px) {
.Prem {
        
    align-items: center;
}

.Prem1,
.Prem2,
.Prem3,
.Prem4,
.Prem5 {
    width: 80%;
}
}
@media (max-width: 1150px) {
  .Prem {
    
    gap: 60px;
   
  }
  
  .Prem h2 {
   
    font-size: 10px;
  }
  
 
  .Prem h3 {
    
    font-size: 15px;
  }
  .Prem a {
    
    font-size: 15px;
  }
}
@media (max-width: 850px) {
  .Prem {
    
    gap: 40px;
   
  }

  .Prem1 {
    margin-left: 0px;
    text-align: center;
  }
 }
 @media (max-width: 500px) {

  .Prem {
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 0px;
    gap: 30px;
   }
   .Prem1 {
    margin-left: 0px;
   }
   
   .Prem2,
   .Prem3,
   .Prem4,
   .Prem5 {
    margin-top: -50px;
   }
}