.Maps {
    color: black; /* Цвет текста */
    padding: 1%; /* Внутренние отступы */
    width: auto; /* Ширина блока */
    text-align: center; /* Центрирование текста */
    height: auto;
    border-radius: 30px;
    text-align: center;
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали */
    background-size: cover;
    bottom: 0;
    position: relative;
    list-style-type:  none;
    }
  
  .Map .h1 {
    color: black;
    font-size: 60px;
  }
  
  .Map-wrapper {
    flex: 1;
    width: 80%;
    height: 300px;
    margin: 10px auto;
  
  }
  
  .Map-wrapper .Tex1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
   
  }
  .Tex1 a {
    text-decoration: none;
    color: white;
    
  }
  
  
  /* КНОПКИ ПОД КАРТАМИ */
  
  .b5 {
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid black; /* Контур в 2px */
    color: black; /* Цвет текста */
    padding: 15px 30px; /* Отступы внутри кнопки */
    font-size: 13px; /* Размер текста */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .b5:hover {
    filter: drop-shadow(0px 0px 20px white);
    color: white;
    background: #2B2B2B;

  }

  

@media (min-width: 1700px) {

.Maps {
    position: flex; 
    top: 300px; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 900px;
    border-radius: 50px;
}

    .Map-wrapper {
        
        width: auto;
        height: 500px;
        
    }
    .Maps-conteiner {
        
        
    }
    .Maps h1 {
        font-size: 40px;
    }
    .Maps li {
        font-size: 35px;
    }
    .Maps a {
        font-size: 35px;
    }

    .b5 {
        height: 70px;
        width: 340px;
        font-size: 18px;
        border-radius: 25px;
    }
}
@media (max-width: 500px) {

  .Maps h1 {
    margin-bottom: -100px;
  }
   
   .Maps {
       height:700px;
       width: auto;
       
   }

   .Map-wrapper {
       
       flex: 1px;
       margin: 140px 10px;
       width: auto; 
   }
   .b5 {
    font-size: 12px;
    width: 250px;
   }
   .Maps-conteiner {
       margin-top:-150px ;
       width: 180%;
       height: 70%;
       
   }
   .Tex1 li {
    font-size: 12px;
   }
}