@media (min-width: 1700px) {

   
  
    .PL {
        margin-top: -400px;
    }

   /* Третий блок */

   .remont-block {
    position: flex; 
    margin-top: 400px; 
    left: 50%;
    transform: translate(10%, -50%);
    width: 80%;
    border-radius: 50px;
}
   .remont-block h1 {
        
   }
   .remont-block h2 {
        
   }
   .post {
    width: auto;
   }
   

   /* Четвертый блок */

    .PL {
        margin-top: 50px;
        height: 1200px;
    }
    .PL h1{
       font-size: 35px;
    }

    .button-style {
        font-size: 35px;
        height: 80px;
        width: 700px;
        border-radius: 50px;
    }
    .image1 {
       height: 80%;
       width: 800px;
    }


  

   
    .Online2 {
        margin-left: 800px;
    }

    
    
  }