@media (max-width: 500px) {
  

    /* Первый блок */
   .parent-Block {
        height: 600px;
        background-image: url(FomMob1.jpg);
  background-size: cover;
   }

   .window-Block {

   }

   .window-Block a {
     
    font-size: 30px;
   }

   .window-Block h2{
    margin-top: 100px;
        font-size: 30px;
   }

   .window-Block h3 {
    
        font-size: 15px;
   }
   .b2 {
    margin-top: 50px;
   }
   .b4 {
    margin-top: 0px;
   }

   /* Второй блок */

   .service-block {
        width: auto;
        height: 600px;
        align-items: center;
        margin-left: 3%;

   }

   .service-block h1 {
        font-size: 30px;
   }


   .IP {
        font-size: 13px;
        border-spacing: 30px 30px;
   }
   .IP td {
     font-size: 13px;
   }

   .iphone,
   .and,
   .Not {
    height: 40px;    
    width: 110px;
    font-size: 10px;
    margin: 5px 5px;
    border-radius: 10px;
   }

   .b3 {
        font-size: 13px;
        height: 40px;
        width: 250px;

   }

   .remont-block {
     height: 2200px;
     width: auto;
   }
   
   .post {
     height: 220px;
     width: 340px;
   }




   /* Третий блок */

   .remont-block {

   }
   .remont-block h1 {
        font-size: 25px;
   }
   .remont-block h2 {
        margin-top: 50px;
        font-size: 25px;
   }
   .post {
        margin-top: 150px;
   }


   /* Четвертый блок */

    .PL {
          width: auto;
          margin-bottom: -100px;
    }
    .PL h1{
       font-size: 22px; 
    }

    .button-style {
        font-size: 16px;
        width: 300px;
        height: 40px;
    }
    .image1 {
        width: 320px;
        height: 450px;
    }

   /* Пятый блок */

   .Maps h1 {
     margin-bottom: -100px;
   }
    
    .Maps {
        height:1300px;
        width: auto;
    }

    .Map-wrapper {
        
        flex: 1px;
        margin: 140px 10px;
        width: auto;
        
        
    }
    .Maps-conteiner {
        margin-top:-150px ;
        width: 180%;
        height: 70%;
        
    }

   /* Шестой блок */

   .OTZ {
    margin-top: -50px;
    height: 70em;
    
   }

    .OTZ h1 {
        font-size: 30px;
    }

    .Prem {
     flex-direction: column;
     height: auto;
     width: auto;
     margin-top: 0px;
    }
    .Prem1 {
     margin-left: 0px;
    }
    .Prem2,
    .Prem3,
    .Prem4,
    .Prem5 {
     margin-top: -50px;
    }

  }