@media (max-width: 768px) {


    body {
      margin: 0;
    }
  
    header {
       
        /*align-items: flex-start;  Выравниваем элементы по левому краю */
        height: 30px;
        text-align: center;
        margin-top: 20px;
        align-items: center;
    }
  
    .header {
        /*flex-direction: column;  Ссылки также располагаем вертикально */
        gap: 30px; /* Уменьшаем пробел между ссылками */
    }
  
    .parent-Block {
      align-items: center;
    }

    .window-Block a {
     margin-top: 40px;
     font-size: 50px;
  
    }
  
    /* 3 БЛОК */
  
  .service-block {
    background-color: white;
    /* Цвет фона для блока */
    color: black;
    /* Цвет текста */
    
    /* Внутренние отступы */
    width: auto;
    /* Ширина блока */
    display: flex;
    text-align: center;
    /* Центрирование текста */
    height: 800px;
    margin-top: 10px;
    margin-left: -40px;
    /* Используем flexbox для центрирования */
    flex-direction: column;
    /* Располагаем кнопки в колонку */
    align-items: center;
    /* Центрируем кнопки по вертикали */
    
    
  }
  
  .iphone,
  .and,
  .Not {
    height: 55px;
    /* Высота кнопок */
    width: 160px;
    /* Ширина кнопок */
    border-radius: 10px;
    /* Закругление краёв кнопок */
    background: #5285fd;
    /* Цвет фона кнопок */
    border: none;
    /* Убираем рамку */
    color: white;
    /* Цвет текста кнопок */
    font-weight: 800;
    /* Жирный текст */
    font-size: 15px;
    /* Размер шрифта */
    margin: 10px 10px;
    /* Отступ сверху и снизу между кнопками (5px) */
  
  
  }
  
  .IP {
  
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 50px 50px;
    text-align: left;
    margin: auto;
    margin-top: 35px;
  }
  
  .b3 {
    height: 55px;
    /* Высота кнопки */
    width: 300px;
    /* Ширина кнопки */
    border-radius: 10px;
    /* Закругление краёв кнопки */
    background: red;
    /* Цвет фона кнопки */
    border: none;
    /* Убираем рамку */
    color: white;
    /* Цвет текста кнопки */
    font-weight: 800;
    /* Жирный текст */
    font-size: 20px;
    /* Размер шрифта */
    margin: 0;
    /* Убираем отступы */
    margin-bottom: 30px;
  }
  
  /* КАРТЫ  */
  
  .Maps {
    height: 1400px;
    width: auto;
    
  }
  
  .Map-wrapper {
    width: auto;
    margin: 170px 110px;
    margin-top: 100px;
  }
  
  .Maps-container {
    flex-direction: column;    
    width: 100%;
    height: 30%; 
    
  }
  
  .OTZ {
    height: auto;
  }
  
  .remont-block {
    height: 2000px;
    width: auto;
    justify-content: space-between;
    flex-direction: column; 
    align-items: center;
  }
  .post {
    margin-top: 200px;
    
  }
  }

  @media (max-width: 950px) { 

    .Maps {
      height: 1400px;
      width: auto;
    }
    .Map-wrapper {
      width: auto;
      margin: 170px 190px;
      margin-top: 100px;
    }

    .Maps-container {
      flex-direction: column; 
    width: 100%;
    height: 20%;
    }
    .post {
      height: 600px;
      width: 1000px;
      justify-content: space-between;
    flex-direction: column; 
    align-items: center;
    }

    .iphone,
  .and,
  .Not {
    height: 70px;
    width: 200px;
    font-size: 20px;
  }
  .Prem {
    flex-direction: column;
     height: auto;
     width: auto;
     
  }
  .Prem1 {
    margin-left: 0px;
  }
    .b3 {
      height: 50px;
      width: 300px;
      font-size: 20px;
    }
}
  
  
 