@media (min-width: 1700px) {

   
  
    .PL {
        margin-top: -400px;
    }

   /* Третий блок */

   .remont-block {
    position: flex; 
    margin-top: 400px; 
    left: 50%;
    transform: translate(10%, -50%);
    width: 80%;
    border-radius: 50px;
}
   .remont-block h1 {
        
   }
   .remont-block h2 {
        
   }
   .post {
    width: auto;
   }
   

   /* Четвертый блок */

    .PL {
        height: 1200px;
    }
    .PL h1{
       font-size: 35px;
    }

    .button-style {
        font-size: 35px;
        height: 80px;
        width: 700px;
        border-radius: 50px;
    }
    .image1 {
       height: 1000px;
       width: 800px;
    }

   /* Пятый блок */
    
   .Maps {
    position: flex; 
    top: 600px; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 1100px;
    border-radius: 50px;
}

    .Map-wrapper {
        
        width: auto;
        height: 500px;
        
    }
    .Maps-conteiner {
        
        
    }
    .Maps h1 {
        font-size: 40px;
    }
    .Maps li {
        font-size: 35px;
    }
    .Maps a {
        font-size: 35px;
    }

    .b5 {
        height: 80px;
        width: 400px;
        font-size: 20px;
        border-radius: 25px;
    }


   /* Шестой блок */

   .OTZ {
  
    
   }

    .OTZ h1 {
        
    }
    .Prem {
        
        align-items: center;
    }

    .Prem1,
    .Prem2,
    .Prem3,
    .Prem4,
    .Prem5 {
        width: 80%;
    }
  }