

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1001;
}

.modal-backdrop.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    display: flexbox;
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 16px;
    width: 500px;
    height: 400px;
    transform: translateY(-50px); /* Добавлено для анимации */
    transition: transform 0.5s ease;
    z-index: 1001;
    margin: auto;
    text-align: center;
    align-items: center; /* Центрируем элементы по горизонтали */
  justify-content: center; /* Центрируем элементы по вертикали */
}

.modal-content h1 {
   margin-left: 150px;
    font-size: 30px;
  font-weight: 800;
    font-size: 30px;
  
}

.button1, .button2, .button3 {
    margin: 10px 0; /* Отступы между кнопками */
    padding: 10px 20px; /* Паддинг для кнопок */
    cursor: pointer; /* Указатель при наведении */
    margin-top: 100px;
}



.modal-backdrop.show .modal-content {
    transform: translateY(0);
    
}

.modal-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: none;
}

.modal-close-button::before,
.modal-close-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #333;
}

.modal-close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
