.containerOrig {
  width: 100%;
  height: 700px;
}

.containerOr {
    display: flex; /* Делаем контейнер flex-контейнером */
    gap: 120px; /* Отступ между блоками */
    padding: 0px; /* Отступ по всему контуру контейнера */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    background-color: white;
  }
  .container h1 {
    display: flex;
    align-items: center;
    color: black;
    position: center;
    font-weight: 500;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
  }
  
  
  .Orig {
    background-color: white; /* Цвет фона блока */
    padding: 10px; /* Внутренний отступ блока */
    text-align: center; /* Выравнивание текста по центру */
    color: black;
    width: 600px;
    height: 700px;
    border-radius: 20px;
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы в колонку */
    align-items: left; /* Центрируем элементы по горизонтали */
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    gap: 30px;  
  }

  .Orig td {
    font-size: 20px;
    font-weight: 300;
  }
  
  .Orig1 {
       display: flex;
      flex-direction: column; /* Располагаем элементы вертикально */
      align-items: center;
    width: auto;
    height: 500px;
    border-radius: 10px;
    margin-top: 80px;
  }
  .iphone1 {
    margin-top: -100px;
    width: 600px;
    height: auto;
  }
  
  
  
@media (max-width: 1150px) {
  
  .Orig {
    width: auto;
    text-align: left;
    height: 750px;
    gap: 0px;
  }



.Orig tr {
  margin-top: 40px; /* Отступ сверху для третьего элемента */
  color: Black;
  font-weight: 500;
}
.Orig td {
  color: grey;
  width: 40vh;
}
.containerOr {
  
  gap: 10px; /* Уменьшаем отступ между блоками */
  align-items: center; /* Центрируем элементы по горизонтали */
}

.Orig h1{
  font-size: 25px;
  align-items: center;
}
.Orig tr {
  font-size: 15px;
}
.Orig td {
  font-size: 15px;
}

.Orig1 {
  
}
.iphone1 {
  width: auto;
  height: 450px;
  
}
}
@media (max-width: 500px) {
  .containerOrig {
    
  }
  .Orig {
    width: auto;
    text-align: left;
    height: 750px;
    gap: 0px;
  }



.Orig tr {
  margin-top: 35px; /* Отступ сверху для третьего элемента */
  color: Black;
  font-weight: 500;
}
.Orig td {
  color: grey;
  width: 40vh;
}
.containerOr {
  flex-direction: column; /* Располагаем элементы вертикально */
  gap: 10px; /* Уменьшаем отступ между блоками */
  align-items: center; /* Центрируем элементы по горизонтали */
}

.Orig h1{
  font-size: 25px;
  align-items: center;
}
.Orig tr {
  font-size: 15px;
}
.Orig td {
  font-size: 15px;
}

.Orig1 {
  
}
.iphone1 {
  margin-top: -200px;
  width: auto;
  height: 300px;
  
}
}